html {
  max-width: 90ch;
  padding: 3em 1em;
  margin: auto;
  font-size: 1.1em;
}

header {
  display: flex;
  align-items: center;
  gap: 16px;
}

header > h3 > a {
  color: black;
  text-decoration: none;
}

header > h3 > a:hover {
  text-decoration: underline;
}

header > nav > ul {
  list-style-type: none;
  padding: 0;
}

header > nav > ul > li {
  display: inline-block;
}

a {
  color: blue;
}

code {
  background-color: #f1f1f1;
  padding: .1em .2em;
}

pre code {
  background-color: transparent;
  color: inherit;
  font-size: 100%;
  padding: 0;
}

pre {
  overflow-x: auto;
  padding: 1em;
}

img, video {
  max-width: 100%;
  height: auto;
  display: block;
}
